.mapEditWindow{
  margin: 0px auto 60px auto;
}
#map-control {
  width: 100%;
  margin: 0 auto ;
}

#map-property {
  margin-top: 12px !important;
  margin: 0 auto ;
}

#map-preview {
  margin-top: 24px;
  margin-bottom: 48px;
}

#map-submit {
  margin: auto;
  width: 300px;
}

.gap { display:block; width:1px; height:1px; margin: 18px; }
@media (max-width: 860px) and (min-width:480px) {
  .gap {
    width:1px; height:1px; margin: 13px;
  }
}
@media (max-width: 480px) {
  .gap {
    width:1px; height:1px; margin: 8px;
  }
}
.pixel { width:16px;height:16px; margin-left:1px; margin-right:2px; background-color:#474646; float: left; }
@media (max-width: 860px) and (min-width:480px) {
  .pixel {
    width:12px;height:12px; margin-left:1px; margin-right:1px;
  }
}
@media (max-width: 480px) {
  .pixel {
    width:7px;height:7px; margin-left:1px; margin-right:1px;
  }
}

.width-short {
  width: 80px !important;
}

#mapEditMaster {
  max-width: 860px;
  height: 220px;
  margin: 10px auto;
  background: #111;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media (max-width: 860px) and (min-width:480px){
  #mapEditMaster {
    width:500px;
    height: 175px;
    margin: 10px auto;
  }
}
@media (max-width: 480px) {
  #mapEditMaster {
    width:320px;
    height: 110px;
    margin: 10px auto;
  }
}
#mapEditView {
  float: left;
  display: inline;
}

.mapEditEach {
  width: 3820px;
  margin-top:20px;
  margin-right:40px;
  margin-left:40px;
}
@media (max-width: 860px) and (min-width:480px){
  .mapEditEach {
    margin-top:15px;
    width:2800px;
  }
}
@media (max-width: 480px) {
  .mapEditEach {
    margin-top:8px;
    width:1800px;
  }
}