/* Gallery stuff */

.gallery {
  margin: 20px auto 10px auto;
  width: 100%;
}

.item-control {
  height: 10px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.item-box {
  width: 100%;
  margin: 24px auto !important;
}

.card-map {
  width:100%;
  background-color: #000 !important;
}

.card-edit {
  background-color: #bbb !important;
  border-style: none !important;
  border-width: 0px !important;
}

.text-small {
  font-size: 12px !important;
}
@media (max-width: 780px) {
  .text-small {
    font-size: 14px !important;
  }
}

.text-big{
  font-size: 18px;
}
@media (max-width: 780px) {
  .text-big {
    font-size: 24px;
  }
}

.text-mid{}
@media (max-width: 780px) {
  .text-mid {
    font-size: 18px;
  }
}

/* in the card space between texts */
.right-margin {
  margin-right: 7px;
}



/* featured */
.highlight {
    position: relative;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100%;
    height:380px;
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.top {
  position: absolute;
  top: 35px;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  background: #780909;
  background-image: linear-gradient(#780909 20%, #8A0707 20%, #8A0707 40%, #A20606 40%, #A20606 60%, #B70303 60%, #B70303 80%, #DC0404 80%);
  margin: 0 auto;
  margin-top:20px;
  width: 100%;
  height: 150px;
}

#gradient:after {
  content: "";
  position: absolute;
  background: #780909;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -270px;
  padding-left: 20px;
  border-radius: 5px;
  width: 520px;
  height: 275px;
  z-index: -1;
}

#card {
  position: absolute;
  width: 480px;
  height: 225px;
  padding-top: 0;
  padding-bottom: 0;
  left: 50%;
  top: 5.5px;
  margin-left: -240px;
  background: #780909;
  border-radius: 5px;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}
@media (max-width: 780px) {
  #card {
    margin-left: -150px;
    width: 300px;
    height: 210px;
  }
}

#card div {
  width:100%;
  height:50px;
  background-color: #000;
}
@media (max-width: 780px) {
  #card div {
    height:30px;
  }
}

#card img {
  margin: 0 auto;
  width:300px;
  height:50px;
}
@media (max-width: 780px) {
  #card img {
    width:200px;
    height:30px;
  }
}

#card h1 {
  color: #111;
}

#card h2 {
  color: #111;
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
}

#card p {
  font-family: courier;
  color: #111;
  font-size: 13px;
}

#card span {
  font-family: courier;
}