/* Gallery stuff */

.gallery {
  margin: auto;
  width: 100%;
}

.item-control {
  height: 10px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.item-box {
  width: 100%;
  margin: 24px auto !important;
}

.text-small {
  font-size: 12px !important;
}
@media (max-width: 780px) {
  .text-small {
    font-size: 16px !important;
  }
}

.text-big{
  font-size: 18px;
}
@media (max-width: 780px) {
  .text-big {
    font-size: 32px;
  }
}

.text-mid{}
@media (max-width: 780px) {
  .text-mid {
    font-size: 24px;
  }
}

/* in the card space between texts */
.right-margin {
  margin-right: 7px;
}


