body { 
  padding: 0;
  margin: 0;
  height: 100%;
  //background-color: #222;
  text-align: center; 
}

.bg {
  overflow: auto;
  height:100%;
  margin: 0;
  background-color: #222;
}

.item {

}
@media (max-width: 780px) {
  .item {
    height: 80px !important;
    font-size: 20px;
  }
}