<div>
	<section id="map-make">
		<div ng-repeat="row in row1">
			<div ng-click="fill1($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row2">
			<div ng-click="fill2($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row3">
			<div ng-click="fill3($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row4">
			<div ng-click="fill4($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row5">
			<div ng-click="fill5($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row6">
			<div ng-click="fill6($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row7">
			<div ng-click="fill7($event, $index)" class="pixel">
			</div>
		</div>

		<div class="gap"></div>

		<div ng-repeat="row in row8">
			<div ng-click="fill8($event, $index)" class="pixel">
			</div>
		</div>
	</section>

	<section id="map-control">
		<div class="ui icon buttons">
		  <button ng-click="setBlockColor()" class="ui button"><i class="square icon"></i>block</button>
		  <button ng-click="setTrapColor()" class="ui button"><i class="certificate icon"></i>trap</button>
		  <button ng-click="setEraser()" class="ui button"><i class="eraser icon"></i>erase</button>
		</div>
	</section>

	<section id="map-manage">
		<button class="ui inverted red button">Preview</button>
		<button class="ui inverted teal button">Submit</button>
	</section>

</div>