<div>
	<section id='mapEditMaster'>
	  	<div id="mapEditView">
	  		<div class="mapEditEach">
		    	<div ng-repeat="row in row1"><div ng-click="fill1($event, $index)" class="row1 pixel"></div></div>
		    </div>
		    <div class="gap"></div>
		    <div class="mapEditEach">
		    	<div ng-repeat="row in row2"><div ng-click="fill2($event, $index)" class="row2 pixel"></div></div>
		    </div>
		    <div class="gap"></div>
		    <div class="mapEditEach">
		    	<div ng-repeat="row in row3"><div ng-click="fill3($event, $index)" class="row3 pixel"></div></div>
		    </div>
		    <div class="gap"></div>
		    <div class="mapEditEach">
		    	<div ng-repeat="row in row4"><div ng-click="fill4($event, $index)" class="row4 pixel"></div></div>
		    </div>
		    <div class="gap"></div>
		    <div class="mapEditEach">
		    	<div ng-repeat="row in row5"><div ng-click="fill5($event, $index)" class="row5 pixel"></div></div>
		    </div>
			<div class="gap"></div>
			<div class="mapEditEach">
				<div ng-repeat="row in row6"><div ng-click="fill6($event, $index)" class="row6 pixel"></div></div>
			</div>
			<div class="gap"></div>
			<div class="mapEditEach">
				<div ng-repeat="row in row7"><div ng-click="fill7($event, $index)" class="row7 pixel"></div></div>
			</div>
			<div class="gap"></div>
			<div class="mapEditEach">
				<div ng-repeat="row in row8"><div ng-click="fill8($event, $index)" class="row8 pixel"></div></div>
			</div>
			<div class="gap"></div>
	  	</div>
	</section>		

	<section id="map-control">
		<div class="ui icon buttons">
		  <button ng-click="setBlockColor()" class="ui teal button"><i class="square icon"></i>block</button>
		  <button ng-click="setBloodColor()" class="ui red button"><i class="theme icon"></i>blood</button>
		  <button ng-click="setTrapColor()" class="ui purple button"><i class="fire icon"></i>trap</button>
		  <button ng-click="setEndColor()" class="ui pink button"><i class="puzzle icon"></i>end</button>
		  <button ng-click="setEraser()" class="ui gray button"><i class="eraser icon"></i>erase</button>
		  <button ng-click="reset()" class="ui button"><i class="bomb icon"></i>reset</button>
		</div>
	</section>

	<section id="map-property">
		<div class="ui labeled input">
		  <div class="ui label">
		    Jump Scale
		  </div>
		  <input type="text" ng-model="jumpScale.value" ng-change="saveJumpScaleToLocalStorage()">
		</div>
		<div class="ui labeled input">
		  <div class="ui label">
		    Map Speed
		  </div>
		  <input type="text" ng-model="mapSpeed.value" ng-change="saveMapSpeedToLocalStorage()">
		</div>
	</section>

	<section id="map-preview">
		<button ng-click="runPreview()" class="ui inverted red button">Preview</button>
	</section>

	<section id="map-submit" class="ui black inverted segment">
		
		<form class="ui form">
		  <div class="field">
		  	Dungeon Name
		    <input type="text" ng-model="map.name" name="map-name" placeholder="Dungeon Name">
		  </div>
		  <div class="field">
		  	Author
		    <input type="text" ng-model="map.author" name="creator-name" placeholder="Author Name">
		  </div>
		  <button ng-click="submitMapData()" class="ui inverted teal button">Submit</button>
		</form>
	</section>

</div>