<div>

<h1>Privacy Policy</h1>

<div id="main-area" class="fullwidth">
	<div class="container">
		<div id="content-area" class="clearfix">
			<div id="left-area">
					<article id="post-73" class="clearfix post-73 page type-page status-publish hentry">
				
		<div class="post_content">
			<h1>Kingsl Game, Touch Of Blood</h1>
<p>Last Updated: <strong>April 1, 2016</strong></p>
<p>This Privacy Policy explains how information about you is collected, used, and disclosed by Kingsl and any parent or subsidiary (collectively, “<strong>Kingsl</strong>“) when you access or use Kingsl websites, mobile applications, and other products and services (collectively, the “<strong>Services</strong>“) or otherwise interact with Kingsl.</p>
<h2>Collection of Information</h2>
<p><strong>Information You Provide to Kingsl.</strong> Game Touch Of blood collects information you provide directly to it, such as if you register for a Service; participate in Game Touch of Blood contests and special events; request technical support; or send Kingsl an email or otherwise interact with it. The types of information Kingsl may collect directly from you include your name, e-mail address, and phone number.</p>
<p><strong> </strong><strong>Information Kingsl Collects Automatically.</strong> When you access the Services, Kingsl automatically collects certain information, including:</p>
<ul>
<li><strong>Log Information:</strong>Kingsl logs information about your use of the Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to its websites.</li>
</ul>
<ul>
<li><strong>Device Information:</strong> When you access or use the Services, Kingsl collects information about (i) device properties, including, but not limited to Media Access Control (“MAC”) address, unique device identifier (“UDID”), or other device identifiers; (ii) device software platform and firmware; (iii) mobile phone carrier; (iv) geographical data such as zip code, area code and location; and (v) game score and achievements. Kingsl may also collect other data as reasonably required by Game Circus to provide, maintain and improve the Services.</li>
</ul>
<p><strong>Information Collected by Cookies and Other Tracking Technologies:</strong> Kingsl may use cookies, web beacons, and other tracking technologies to collect information about you and your interaction with the Services. We use this information in one or more of the ways described in the &#8220;Use of Information&#8221; section below. Kingsl may also collect information using web beacons or other tracking technologies to help deliver cookies, count visits, and understand usage and campaign effectiveness. For more information about cookies, please see “Your Privacy Choices” below.</p>
<p><strong>Information Kingsl Collects from Other Sources.</strong> Kingsl may receive information about you from other sources and combine or link that with information it has about you. For example, when you authorize Kingsl to connect to certain third-party social networking sites, Game Kingsl will access information about you from those sites, such as your name, account information, friend lists, and any other information you make publicly available. Kingsl collects this information in accordance with the privacy policies and authorization procedures determined by third-party social networking sites in addition to the privacy settings you establish with those sites. For more information, please refer directly to the privacy policies of the relevant third-party social networking sites.</p>
<h2>Use of Information</h2>
<p>Game Kingsl may use the information it collects about you for a variety of purposes, including to:</p>
<ul>
<li>Provide, maintain, and improve the Services and deliver the information and support you request, including technical notices, security alerts, purchase confirmations, and support and administrative messages;</li>
<li>Personalize the Services and provide advertisements, content, or features that are targeted toward your interests;</li>
<li>Send you news and information about the Services and communicate with you about products, services, contests, promotions, incentives, and rewards offered by Game Kingsl and select partners;</li>
<li>Track and analyze trends and usage in connection with the Services; and</li>
<li>Process and deliver contest and promotion entries and rewards.</li>
</ul>
<p>Game Kingsl is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.</p>
<h2>Sharing of Information</h2>
<p>Game Kingsl may share personal information about you as follows:</p>
<ul>
<li>With third party vendors, consultants and other service providers who work on Game Kingsl's behalf and need access to such information;</li>
<li>With other players (for example, in connection with leaderboards);</li>
<li>In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of Game Kingsl business by another company;</li>
<li>If Game Kingsl has a good faith belief that disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request; to enforce Game Kingsl agreements, policies and Terms of Service; and to protect Game Kingsl, its users and others from harm; and</li>
<li>With your consent or at your direction.</li>
</ul>
<p>Game Kingsl may also share aggregated or non-personally identifiable information, which cannot reasonably be used to identify you.</p>
<h2>Children</h2>
<p>Our Services are designed for users who are 13 or older. If you are a parent or guardian of a child under 13 and believe that your child might have provided personal information to Game Kingsl, please contact us at <a  href="mailto:fkkcloud@gmail.com">Say Hello!</a>. If we become aware that a child under 13 has provided us with personal information, we take steps to delete such information.</p>
<h2>Security</h2>
<p>Game Kingsl takes reasonable measures, including administrative, technical, and physical safeguards to help protect personal information from loss, theft, misuse, and unauthorized access, disclosure, alteration, and destruction.</p>
<h2>Third Party Analytics and Advertising</h2>
<p>Game Kingsl allows third parties to provide analytics services, to serve advertisements through the Services, and to collect data to use for purposes of serving ads targeted to your interests. These third parties may use cookies, web beacons, and other technologies to collect information about your use of the Services and other mobile applications, including your IP address, device identifiers, MAC address, software and hardware information, browser information, Internet and online usage information, and in-game information. This Privacy Policy does not apply to, and Game Kingsl is not responsible for, third party cookies, web beacons, or other tracking technologies and Game Kingsl encourages you to check the privacy policies of these third parties to learn more about their privacy practices.</p>
<h2>Your Privacy Choices</h2>
<p><strong>Information About You.</strong> If you wish to have the information Game Kingsl collects about you updated or deleted, please contact <a  href="mailto:fkkcloud@gmail.com">Say Hello!</a>, but note that Game Kingsl may retain information about you for legitimate business purposes or as required by law.</p>
<p><strong>Location Information.</strong> You have the ability to turn location-based services on and off by adjusting the settings of your mobile device or by following the standard uninstall process and removing all Game Kingsl applications from your mobile device.</p>
<p><strong>Cookies.</strong> Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject cookies; however, the Services may not function properly if you do so.</p>
<p><strong>Advertising Opt Out.</strong> Most mobile devices provide the ability to opt out of the collection and use of information from your device for purposes of serving ads targeted to your interests. For more information, and to exercise these choices, consult the settings on your device.</p>
<h2>Changes to the Privacy Policy</h2>
<p>Game Kingsl may change this Privacy Policy at any time. If Game Kingsl makes changes, it will notify you by revising the “Last Updated” date above and, in some cases, it may provide you with more prominent notice (such as adding a statement to its homepage or sending you a push notification or email). Game Kingsl encourages you to review this Privacy Policy frequently to stay informed about its information practices and your privacy choices.</p>
<h2>Contact Information</h2>
<p>If you have questions, comments, or concerns about this Privacy Policy or Game Kingsl privacy practices, please contact Game Kingsl at <a  href="mailto:fkkcloud@gmail.com">SUPPORT</a></p>
								</div> 	<!-- end .post_content -->
	</article> <!-- end .post -->
							</div> <!-- end #left-area -->
		</div> <!-- end #content-area -->
	</div> <!-- end .container -->
</div> <!-- end #main-area -->

</div>